<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  	<!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
</head>
<body>
    <header id="appHeader" class="header">
    	<div>
			<%= link_to image_tag("water.png", alt: "Evolution logo"), '#' %>
			<h1 class="appName">Evolution</h1>

			<ul class="menu">
				<li><%= link_to "Home", '#' %></li>
				<li><%= link_to "Log In", '#' %></li>
			</ul>
		</div>
    </header>

  	<%= yield %>

  	<div id="appFooter">
  	</div>
</body>
</html>
